@font-face {
    font-family: 'Sintony';
    src: url('/nhl.com/builds/site-core/15a57250ae5ef77e77d0aeb2f5dfb813067e4885_1581615643/fonts/sintony-regular.eot');
    src: url('/nhl.com/builds/site-core/15a57250ae5ef77e77d0aeb2f5dfb813067e4885_1581615643/fonts/sintony-regular.eot?#iefix') format('embedded-opentype'),
    url('/nhl.com/builds/site-core/15a57250ae5ef77e77d0aeb2f5dfb813067e4885_1581615643/fonts/sintony-regular.woff2') format('woff2'),
    url('/nhl.com/builds/site-core/15a57250ae5ef77e77d0aeb2f5dfb813067e4885_1581615643/fonts/sintony-regular.woff') format('woff'),
    url('/nhl.com/builds/site-core/15a57250ae5ef77e77d0aeb2f5dfb813067e4885_1581615643/fonts/sintony-regular.ttf') format('truetype'),
    url('/nhl.com/builds/site-core/15a57250ae5ef77e77d0aeb2f5dfb813067e4885_1581615643/fonts/sintony-regular.svg#sintonyregular') format('svg');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Sintony';
    src: url('/nhl.com/builds/site-core/15a57250ae5ef77e77d0aeb2f5dfb813067e4885_1581615643/fonts/sintony-bold.eot');
    src: url('/nhl.com/builds/site-core/15a57250ae5ef77e77d0aeb2f5dfb813067e4885_1581615643/fonts/sintony-bold.eot?#iefix') format('embedded-opentype'),
    url('/nhl.com/builds/site-core/15a57250ae5ef77e77d0aeb2f5dfb813067e4885_1581615643/fonts/sintony-bold.woff2') format('woff2'),
    url('/nhl.com/builds/site-core/15a57250ae5ef77e77d0aeb2f5dfb813067e4885_1581615643/fonts/sintony-bold.woff') format('woff'),
    url('/nhl.com/builds/site-core/15a57250ae5ef77e77d0aeb2f5dfb813067e4885_1581615643/fonts/sintony-bold.ttf') format('truetype'),
    url('/nhl.com/builds/site-core/15a57250ae5ef77e77d0aeb2f5dfb813067e4885_1581615643/fonts/sintony-bold.svg#sintonybold') format('svg');
    font-style: normal;
    font-weight: 700;
}


@font-face {
    font-family: 'Oswald';
    src: url('/nhl.com/builds/site-core/15a57250ae5ef77e77d0aeb2f5dfb813067e4885_1581615643/fonts/oswald-regular.eot');
    src: url('/nhl.com/builds/site-core/15a57250ae5ef77e77d0aeb2f5dfb813067e4885_1581615643/fonts/oswald-regular.eot?#iefix') format('embedded-opentype'),
    url('/nhl.com/builds/site-core/15a57250ae5ef77e77d0aeb2f5dfb813067e4885_1581615643/fonts/oswald-regular.woff2') format('woff2'),
    url('/nhl.com/builds/site-core/15a57250ae5ef77e77d0aeb2f5dfb813067e4885_1581615643/fonts/oswald-regular.woff') format('woff'),
    url('/nhl.com/builds/site-core/15a57250ae5ef77e77d0aeb2f5dfb813067e4885_1581615643/fonts/oswald-regular.ttf') format('truetype'),
    url('/nhl.com/builds/site-core/15a57250ae5ef77e77d0aeb2f5dfb813067e4885_1581615643/fonts/oswald-regular.svg#oswaldregular') format('svg');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Oswald';
    src: url('/nhl.com/builds/site-core/15a57250ae5ef77e77d0aeb2f5dfb813067e4885_1581615643/fonts/oswald-bold.eot');
    src: url('/nhl.com/builds/site-core/15a57250ae5ef77e77d0aeb2f5dfb813067e4885_1581615643/fonts/oswald-bold.eot?#iefix') format('embedded-opentype'),
    url('/nhl.com/builds/site-core/15a57250ae5ef77e77d0aeb2f5dfb813067e4885_1581615643/fonts/oswald-bold.woff2') format('woff2'),
    url('/nhl.com/builds/site-core/15a57250ae5ef77e77d0aeb2f5dfb813067e4885_1581615643/fonts/oswald-bold.woff') format('woff'),
    url('/nhl.com/builds/site-core/15a57250ae5ef77e77d0aeb2f5dfb813067e4885_1581615643/fonts/oswald-bold.ttf') format('truetype'),
    url('/nhl.com/builds/site-core/15a57250ae5ef77e77d0aeb2f5dfb813067e4885_1581615643/fonts/oswald-bold.svg#oswaldbold') format('svg');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Liberation Mono';
    src: url('/nhl.com/builds/site-core/15a57250ae5ef77e77d0aeb2f5dfb813067e4885_1581615643/fonts/liberationmono-regular.eot');
    src: url('/nhl.com/builds/site-core/15a57250ae5ef77e77d0aeb2f5dfb813067e4885_1581615643/fonts/liberationmono-regular.eot?#iefix') format('embedded-opentype'),
    url('/nhl.com/builds/site-core/15a57250ae5ef77e77d0aeb2f5dfb813067e4885_1581615643/fonts/liberationmono-regular.woff2') format('woff2'),
    url('/nhl.com/builds/site-core/15a57250ae5ef77e77d0aeb2f5dfb813067e4885_1581615643/fonts/liberationmono-regular.woff') format('woff'),
    url('/nhl.com/builds/site-core/15a57250ae5ef77e77d0aeb2f5dfb813067e4885_1581615643/fonts/liberationmono-regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}
